body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: "Times New Roman", Times, serif;
    font-size: 40px;
    user-select: none;
}

#calculadora {
    width:100vw;
    max-width: 480px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: minmax(100px, auto) 50px;
    gap: 5px;
    padding: 5px;
    border: 1px solid black;
    background: #F7F9E8;
}




#calculadora div {
    border: 1px solid silver;
    text-align: center;
    background: #DF9F94;
    border: 1px solid black;
}

div#display {
    grid-column-start: 1;
    grid-column-end: 5;
    display: flex;
    align-items: flex-end;
    word-break: break-all;
    background: #C3D587;
    padding:3px
}

#calculadora,
div#display {
    border-radius: 5px 5px 0 0;

}

div#display.erro {
    border-color: red;
}

.erro:before {
    content: "Erro"
}

#calculadora div#igual {
    grid-column-start: 2;
    grid-column-end: 5;
    background: #8AA51D
}

#calculadora div.operadores {

    background: #EF7A65;
}

#calculadora div:hover:not(#display) {

    filter: brightness(75%) !important;
    outline: 3px solid white;
    outline-offset: -2px;
    color: azure
}